body{
	font-size: 12px;
}
p.foreword {
    -epub-word-break: keep-all;
	text-align: center;
}
h1{
	 text-align: center;   
}
h2{
	 text-align: center;   
}
h3{
	 text-align: center;   
}
h4{
	 text-align: center;   
}